<!DOCTYPE html>
<html>
<head>
  <title>Search for a Column of Data</title>
</head>
<body>
  <h1>Column Search</h1>
  <p>Enter the column of data you are looking for.</p>
  <form action="/search_results" method="POST">
    <input type="text" name="attribute" placeholder="name/age/campus">
    <button type="submit">Search</button>
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>