<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
</head>
<body>
  <h1>Delete a Student From the Database</h1>
  <p>Please enter the name of the student you would like to remove:</p>
  <form action="/deleted_student" method="POST">
    <input type="text" name="name">
    <button type="submit">Submit</button>
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>